.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.box {
  height: 50%;
  width: 50%;
  background-color: white;
  color: black;
}

.title {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.content {
  height: 80%;
  width: 68%;
  margin-left: 95px;
}

#todolist {
  height: 30px;
  width: 366px;
}

label {
  margin-top: 1px;
  padding: 9.5px 14px;
  background-color: brown;
  border-radius: 10%;
}
